# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
myvenv/
venv/

# Environment variables
.env

# Django
db.sqlite3
media/
documents/

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
